!!!

%head
  %title Shove Integration Test

%body
  .header
    %h3 Tests

  .thing#clicky Mo

  .content
    .container
      #log

  :javascript
    //WEB_SOCKET_FORCE_FLASH = true

  %script(type="text/javascript" src="/jquery.js")
  %script(type="text/javascript" src="/shove.js")
  %script(type="text/javascript" src="/tests.js")
  
  :javascript
    WEB_SOCKET_LOGGER = {
      log: function(msg) {
        log("ws.swf: " + msg);
      },
      error: function(msg) {
        log("ws.swf error: " + msg);
      }
    };

