!!!

%head
  %title Shove Specs

%body
  .header
    %h3 Specs

  .content
    .container
      #log

  :javascript
    function require(){
      return window;
    }

  %script(type="text/javascript" src="/jquery.js")
  %script(type="text/javascript" src="/shove.js")
  %script(type="text/javascript" src="/runner.js")
  %script(type="text/javascript" src="/shove_specs.js")
